In [18]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup
import pandas as pd
import math

In [57]:
url = 'https://www.linkedin.com'

%run ./credentials.ipynb

driver = webdriver.Chrome('../chromedriver')
driver.get(url)

# Logging in to Linked-IN
session_key = driver.find_element_by_id('session_key')
session_key.send_keys(e_mail)
session_password = driver.find_element_by_id('session_password')
session_password.send_keys(password)
session_password.send_keys(Keys.RETURN)

# Job search (keyword, location)

job_title = input('Enter job key words: ')
job_country = input('Enter job location: ')
#job_title = 'Data Analyst'
#job_country = 'Denmark'

time.sleep(5)

driver.get('https://www.linkedin.com/jobs')

time.sleep(3)

job_keyword = driver.find_element_by_id('jobs-search-box-keyword-id-ember39')
job_keyword.send_keys(job_title)
job_location = driver.find_element_by_id('jobs-search-box-location-id-ember39')
job_location.send_keys(job_country)
time.sleep(3)
job_location.send_keys(Keys.RETURN)
time.sleep(3)

no_of_jobs = int(driver.find_element_by_css_selector('small').get_attribute('innerText').split(' ')[0])

position_list = []
company_list = []
location_list = []
connection_list = []
details_list = []

def job_scraping():
    
    list_items = driver.find_elements_by_class_name('occludable-update')
    for job in list_items:
        driver.execute_script('arguments[0].scrollIntoView();', job)
        job.click()
        time.sleep(3)
        
        try:
            position_list.append(job.text.split('\n')[0])
        except:
            possitin_list.append('none')
        try:
            company_list.append(job.text.split('\n')[1])
        except:
            company_list.append('none')
        try:
            location_list.append(job.text.split('\n')[2])
        except:
            location_list.append('none')
        try:    
            connection_list.append(job.text.split('\n')[4])
        except:
            connection_list.append('none')
        try:
            details_list.append(driver.find_element_by_id('job-details').text)
        except:
            details_list.append('none')

def second_page():
    second_page = driver.find_element_by_xpath(f"//button[@aria-label='Page 2']")
    second_page.click()

def next_page():
    
    for page in range(math.floor(int(no_of_joba.split(' ')[0])/25)):
        i = 25
        curr_url = driver.current_url
        url_beginning = curr_url.split('start=')[0]+'start='
        url_ending = int(curr_url.split('start=')[1])
        new_url_ending = url_ending + i
        new_url = url_beginning + str(new_url_ending)
        driver.get(new_url)
        time.sleep(3)
        
        job_scraping()
    
# Code Execution

job_scraping()
second_page()
job_scraping()
next_page()

time.sleep(5)

driver.quit()

In [62]:
df = pd.DataFrame([position_list, company_list, location_list, connection_list, details_list]).T
df.columns = ['Position', 'Company', 'Location', 'Other_info', 'Details']

In [64]:
df.to_csv('data_analyst_denmark_jobs.csv')

In [69]:
pd.read_csv('./data_analyst_denmark_jobs.csv')

,Unnamed: 0,Position,Company,Location,Other_info,Details
0,0,Data Engineer with strong Python skills (Assoc...,Banking Circle,"Copenhagen, Capital Region, Denmark",Actively recruiting,Posted by\nMaybrit (Mayse) Lind ⭕️ 2nd\nGlobal...
1,1,Data Engineer,BESTSELLER,"Brande, Middle Jutland, Denmark",3 alumni work here,If you're into advanced analytics and machine ...
2,2,Business/data analyst til nordisk entreprenørg...,NCC,"Søborg, Capital Region, Denmark",Promoted,NCC er en af Nordeuropas førende virksomheder ...
3,3,Pricing Data Analyst,Danske Bank,"Copenhagen, Capital Region, Denmark",3 connections work here,Job Description\n\nPricing Data Analyst\n\nAre...
4,4,Data Analyst,Linkfire,"Copenhagen, Capital Region, Denmark",2 weeks ago,Linkfire is the number #1 marketing tool for t...
...,...,...,...,...,...,...
483,483,Mobile app designer,SUPERB,"København, Capital Region, Denmark",6 days ago,About Superb\n\nSuperb is on a mission to chan...
484,484,DESIGN CUM VMC PROGRAMER - Divya Placement Con...,Divya Placement Consultant,"Zealand, Denmark",Your profile matches this job,DESIGN CUM VMC PROGRAMER\n\nHi.\n\nWe are Look...
485,485,Mobile app designer,SUPERB,"København, Capital Region, Denmark",1 week ago,Superb Remote Work Full-time\n\nSalary Competi...
486,486,Quality Control Supervisor - Natural Colors,Chr. Hansen Holding A/S,"Hørsholm, Capital Region, Denmark",2 months ago,Location\n\n[[West Allis]]\n\nState: [[Wiscons...
487,487,See more jobs with these suggestions:,See jobs based on your profile,none,none,Location\n\n[[West Allis]]\n\nState: [[Wiscons...

In [56]:
driver.quit()